:root {
    --primary-color: #10578E;
    --primary-color-hover: #5e6a74;
    --primary-color-disabled: rgb(113, 145, 177);
    --background-header-footer: #6A92A4;
    --secondary-color: #FFD900;
    --secondary-color-hover: #bea305;
    --tertiary-color: #ffffff;
    --tertiary-color-disabled: #d4d2d2;
    --terciary-color-red: #B80305;
}

body {
    background-color: var(--background-header-footer);
    width: 100%;
    min-height: 100vh;
}

header {
    justify-content: space-between;
}

header, footer {
    display: flex;
    align-items: center;
    width: 90%;
    padding: 1rem;
    margin: 1rem auto;
    font-weight: 600;
    font-size: 2rem;
    border-radius: 0.5rem;
    color: var(--secondary-color);
    text-shadow: -1.2px -1.2px 0 var(--primary-color), 1.2px -1.2px 0 var(--primary-color), -1.2px 1.2px 0 var(--primary-color), 1.2px 1.2px 0 var(--primary-color);
    background-color: var(--background-header-footer);
    border: 1px solid var(--secondary-color);
}

a {
    aspect-ratio: 1/1;
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    padding: 0.5rem 0.8rem 0.5rem 0.9rem;
    cursor: pointer;
    box-shadow: 0px 0px 4px 4px rgba(22, 11, 73, 0.5);
    transition: 0.5s ease;
}

a:hover {
    transform: scale(1.1);
}

.ranking {
    aspect-ratio: 1/1;
    background-color: var(--terciary-color-red);
    border: none;
    border-radius: 50%;
    padding: 0.5rem 0.7rem 0.5rem 0.8rem;
    cursor: pointer;
    box-shadow: 0px 0px 4px 4px rgba(228, 213, 11, 0.5);
    transition: 0.5s ease;
    outline: none;
}

.ranking:hover {
    transform: scale(1.1);
}

.restart-game {
    position: fixed;
    bottom: 2rem;
    right: 1.7rem;
    box-shadow: 0px 0px 4px 4px rgba(22, 11, 73, 0.5);
    aspect-ratio: 1/1;
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    padding: 0.5rem 0.6rem 0.5rem 0.6rem;
    cursor: pointer;
    transform: rotate(45deg);
    transition: 0.5s ease;
}

.restart-game:hover {
    transform: rotate(45deg) scale(1.1);
}

.grid {
    margin-inline: auto;
    width: 80%;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
}

.card {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 0.5rem;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0.5rem;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid var(--secondary-color);
    transition: all 0.5s ease;
}

.front {
    background-size: contain;
    transform: rotateY(180deg);
}

.back {
    background-image: url(../images/face-card-back.png);
    background-size: cover;
    backface-visibility: hidden;
}

.reveal-card {
    transform: rotateY(180deg);
}

.disabled-card {
    filter: saturate(0.2);
    opacity: 0.7;
}