:root {
    --primary-color: #10578E;
    --primary-color-hover: #2973ac;
    --primary-color-disabled: rgb(113, 145, 177);
    --secondary-color: #FFD900;
    --secondary-color-hover: #bea305;
    --tertiary-color: #ffffff;
    --tertiary-color-disabled: #d4d2d2;
}

body {
    background-image: url(../images/andys-room.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    padding: 1rem;
    
    background: rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.8px);
    -webkit-backdrop-filter: blur(2.8px);
    border: 1px solid rgba(255, 255, 255, 0.16);
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

input, button {
    padding: 0.5rem 0.8rem;
    border-radius: 0.8rem;
}

#player-name {
    width: 200px;
    text-align: center;
    border: 1px solid var(--primary-color);
}

::placeholder {
    font-weight: bold;
}

#player-name:focus {
    outline: none;
}

#play {
    width: 50%;
    background-color: #10578E;
    color: var(--tertiary-color);
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s ease;
}

#play:disabled {
    background-color: var(--primary-color-disabled);
    color: var(--tertiary-color-disabled);
    cursor: auto;
}

#play:hover {
    background-color: var(--primary-color-hover);
}