body {
    background-image: url(../images/andys-room.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    padding: 1rem;
    
    background: rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.8px);
    -webkit-backdrop-filter: blur(2.8px);
    border: 1px solid rgba(255, 255, 255, 0.16);
}

#game-name {
    margin-bottom: 0.5rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

input, button {
    padding: 0.5rem 0.8rem;
    border-radius: 0.8rem;
}

#player-name {
    width: 200px;
    text-align: center;
}

#play {
    width: 50%;
    background-color: #10578E;
    color: white;
}

